<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.isi.backpack"
    android:versionCode="8"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- for file downlading -->

    <application
        android:name="BackpackApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:enabled="true" android:name="edu.isi.backpack.BootUpReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
      		<intent-filter>
      			<action android:name="android.intent.action.BOOT_COMPLETED" />
      			<category android:name="android.intent.category.DEFAULT" />
      		</intent-filter>
    	</receiver>
        <activity
            android:name="edu.isi.backpack.activities.ContentListActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"  >
            <!-- above code prevent onCreate being called when orientation changes -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <activity
            android:name="edu.isi.backpack.activities.ContentViewerActivity"
            android:label="@string/title_activity_content_viewer"
            android:parentActivityName="edu.isi.backpack.activities.ContentListActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" >
        </activity>
        <activity
        	android:name="edu.isi.backpack.activities.FullscreenVideoActivity"
            android:label="@string/title_activity_fullscreen_video"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode" >
        </activity>
        <service android:name="edu.isi.backpack.services.ConnectionService"/>
        <service android:name="edu.isi.backpack.services.ListenerService"
            android:process=":btListener_process"/>
        <service android:name="edu.isi.backpack.services.WifiListenerService"
            android:process=":wifiListener_process"/>
        <service android:name="edu.isi.backpack.services.FileMonitorService">   
        </service>
    </application>

</manifest>
